@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.4em;
    text-align: center;
}
html {
    background-color: #26222d;
}

#header {
width: 100%;
height: 120px;
background-color: #3d3848;
text-align: center;
}

#logo{
    width: 100px;
    height: 100px;
    float: left;
    padding-left: 10%;
    padding-top: 10px;
}

#siteName{
    float: left;
    text-align: center;
    padding-left: 10px;
    line-height: 120px;
}

#ref1{
    float:right ;
    padding-right: 10%;
    line-height: 120px;
}

#ref2, #ref3{
    float: right;
    padding-right: 20px;
    line-height: 120px;
    
}


#refs, #form, #table {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #3d3848;
    max-width: 960px;
    border-radius: 20px;

}

#table_1{
    margin: auto;
    width: 600px;
}

#footer{
    width: auto;
    height: 120px;
    background-color: #3d3848;
}

#footer_sign{
    float: right;
    text-align: center;
    padding-right: 10%;
    line-height: 120px;
}

.even {
    background-color: #26222d;
}

.odd {
    background-color: #3d3848;
}